<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ url_for('static', path='/styles/login-style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='scripts/login-script.js') }}"></script>
</head>
<body>
    <div class="wrapper">
        <div class="left-column"></div>
        <div class="container">
            <div class=img-box>
                <img class="picture-logo" src="{{ url_for('static', path='imgs/gas-logo.png') }}" alt="">
            </div>
            <div class=img-box>
                <img class="picture-owl" src="{{ url_for('static', path='imgs/alfa-owl.png') }}" alt="">
            </div>
            <div class="input-box">
                <input id="team_name" type="text" placeholder="Введите название команды" required>
            </div>
            <div class="btn-box">
                <button onclick="forwardToBlanks()">
                    Получить бланк
                </button>
            </div>
        </div>
        <div class="right-column"></div>
    </div>
</body>
</html>